/* header */
body {
    background-color: #191919;
    color: #fff;
    font-family: 'NanumSquare';
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    height: 670px;
}
#header {
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #191919;
    border-bottom: 1px solid #fff;
    /* box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%); */
}

.header-wrap {
    max-width: 1920px;
    margin: 0 auto;
    /* position: relative; */
}
.header-wrap .logoWrap {
    position: relative;
}
.header-wrap .logoWrap .logo {
    background: url(../img/PFlogo.png) no-repeat center;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 6%;
    width: 92px;
    height: 70px;
    z-index: 5;
}
.header-wrap .logoWrap a {
    position: absolute;
    line-height: 90px;
    display: block;
    height: 40px;
    color: #fff;
    top: 3px;
    left: 11%;
    font-size: 40px;
    font-weight: 800;
}

.menu-wrap {
   position: relative;
}

.menu {
   
}

.menu ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 45%;
    top: 35px;
}

.menu li {
    margin-right: 30%;
}

.menu li a {
    display: block;
    color: #fff;
    font-size: 20px;
}
.agree-wrap {
    position: relative;
    margin-top: 100px;
}
.agree-wrap .agree-box {
    position: absolute;
    background: #000;
    width: 700px;
    height: 900px;
    border-radius: 10px;
    top:0; left:0; bottom:0; right:0;
    margin: 0 auto;
}
.agree-wrap .agree-box h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 60px;
    font-weight: 700;
    margin-bottom: 60px;
}
.agree-wrap .agree-box .box-wrap {
    padding: 65px 0;
}

/*checkbox1*/
.agree-box .checkbox1 {
    position: relative;
}
.agree-box .checkbox1 span {
    font-size: 15px;
    margin-left: 100px;
}
.agree-box .checkbox1 .agree1 {
    margin-left: 10px;
    top: 3px;
    position: absolute;
}
.agree-box .terms-wrap {
    position: relative;
    margin-bottom: 10px;
}
.agree-box .terms-wrap .terms-box1 {
    position: absolute;
    left: 13%; 
    padding: 20px;
    margin: 10px;
    width: 500px;
    height: 10vh;
    overflow-y: scroll;
    background-color: #262626;
    border-radius: 5px;
}

.agree-box .terms-wrap .terms-box1 .terms-inner {}
.agree-box .terms-wrap .terms-box1 .terms-inner p {}


/*checkbox2*/
.agree-box .checkbox2 {
    position: relative;
}
.agree-box .checkbox2 span {
    font-size: 15px;
    margin-left: 100px;
}
.agree-box .checkbox2 .agree1 {
    margin-left: 10px;
    top: 3px;
    position: absolute;
}
.agree-box .terms-wrap {
    position: relative;
    
}
.agree-box .terms-wrap .terms-box2 {
    position: absolute;
    left: 13%; 
    padding: 20px;
    margin: 10px;
    width: 500px;
    height: 10vh;
    overflow-y: scroll;
    background-color: #262626;
    border-radius: 5px;
}

.agree-box .terms-wrap .terms-box2 .terms-inner {}
.agree-box .terms-wrap .terms-box2 .terms-inner p {}



/*checkbox3*/
.agree-box .checkbox3 {
    position: relative;
}
.agree-box .checkbox3 span {
    font-size: 15px;
    margin-left: 100px;
}
.agree-box .checkbox3 .agree1 {
    margin-left: 10px;
    top: 3px;
    position: absolute;
}
.agree-box .terms-wrap {
    position: relative;
    
}
.agree-box .terms-wrap .terms-box3 {
    position: absolute;
    left: 13%; 
    padding: 20px;
    margin: 10px;
    width: 500px;
    height: 10vh;
    overflow-y: scroll;
    background-color: #262626;
    border-radius: 5px;
}

.agree-box .terms-wrap .terms-box3 .terms-inner {}
.agree-box .terms-wrap .terms-box3 .terms-inner p {}

.btn-wrap {
    font-family: 'NanumSquare';
    color: #fff;
    margin-top: 70px;
    padding: 0 30px 0px 100px;
}
.btn-wrap .prev {
    width: 230px;
    height: 50px;
    margin: 0px 20px 0px 0px;
    padding: 15px 80px;
    border-radius: 5px;
    background-color: #2d3035;
    display: inline-block;
}
.btn-wrap .prev a {
    color: #fff;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}
.btn-wrap .agreement {
    width: 230px;
    height: 50px;
    text-align: center;
    margin: 0px 40px 30px 20px;
    padding: 15px 80px;
    border-radius: 5px;
    background-color: #a92323;
    display: inline-block;
}
.btn-wrap .agreement a {
    color: #fff;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
}

/* boardType */
.boardType {
    margin: 0 auto;
    width: 1400px;
    margin-top: 150px;
}
.boardType h3 {
    font-size: 45px;
    padding-bottom: 30px;
}

/* board-write */
.board-write {
    padding: 10px 0 100px;
}
.board-write h2 {
    font-size: 17px;
    margin-bottom: 10px;
}
.board-write .title-text {
    width: 100%;
    display: block;
    border: 1px solid #eee;
    padding: 13px;
    margin-bottom: 20px;
    resize: none;
    background: #191919;
    border-radius: 5px;
    color: #fff;
}
.board-write .image-btn {
    float: left;
    border-radius: 5px;
    background-color: #2d3035;
    color: #fff;
    padding: 10px 30px;
}
.board-write .board-btn {
    float: right;
    border-radius: 5px;
    background-color: #2d3035;
    color: #fff;
    padding: 10px 40px;
}